{% extends 'infinite shop/parent/parent.html' %}
{% load static %}
{% load humanize %}
{% load product_tags %}
{% block header %}{% endblock %}
{% block title %}
    لیست محصولات
{% endblock %}
{% block content %}
    <section class="inner-page" id="products-page">
        <div class="container-fluid" id="page-hero">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h1>{{ site_info.title }}</h1>
                                <p>هر آنچه نیاز دارید در این فروشگاه موجود است</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'IndexApp:index' %}">صفحه نخست</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page"><a
                                                href="{% url 'ProductsApp:product_list' %}">محصولات</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-3 px-3 px-lg-0">
                                <!-- Side Panel -->

                                <span class="m-3" ><a href="{% url 'ProductsApp:product_list' %}">لغو تمام فیلترها</a></span>
                                <div class="accordion filters-container">
                                    <div class="accordion-item">
                                        <h2>
                                            <button class="accordion-button py-2 px-3" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                دسته بندی محصولات
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show"
                                             aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            {% for category in main_category %}
                                                <div class="accordion filters-container">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingOne">
                                                            <div class="d-flex justify-content-between">
                                                                <a class="fs-6 align-self-center ms-3"
                                                                   href="{% url 'ProductsApp:products_by_category' category.url_title %}">{{ category.title }}</a>
                                                                <button class="btn btn-outline-danger   accordion-button w-25 text-warning collapsed"
                                                                        type="button"
                                                                        data-bs-toggle="collapse"
                                                                        data-bs-target="#category{{ forloop.counter }}"
                                                                        aria-expanded="false"
                                                                        aria-controls="category{{ forloop.counter }}">
                                                                </button>
                                                            </div>

                                                        </h2>
                                                        <div id="category{{ forloop.counter }}"
                                                             class="accordion-collapse collapse"
                                                             aria-labelledby="headingOne"
                                                             data-bs-parent="#accordionExample">
                                                            {% for child in category.children.all %}
                                                                <a class="d-block text-decoration-none w-75 ms-3 "
                                                                   href="{% url 'ProductsApp:products_by_category' child.url_title %}">{{ child.title }}</a>
                                                                <hr>
                                                            {% endfor %}

                                                        </div>
                                                    </div>

                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion filters-container">
                                    <div class="accordion-item">
                                        <h2>
                                            <button class="accordion-button py-2 px-3" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                    aria-expanded="true" aria-controls="collapseTwo">
                                                برند محصولات
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse show"
                                             aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            {% for brand in brands %}
                                                <div class="accordion filters-container">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingTwo">
                                                            <div class="d-flex justify-content-between">
                                                                <a class="fs-6 align-self-center m-3"
                                                                   href="{% url 'ProductsApp:products_by_brand' brand.title %}">{{ brand.title }}</a>
                                                            </div>

                                                        </h2>
                                                        <div id="category{{ forloop.counter }}"
                                                             class="accordion-collapse collapse"
                                                             aria-labelledby="headingOne"
                                                             data-bs-parent="#accordionExample">
                                                            {% for child in category.children.all %}
                                                                <a class="d-block text-decoration-none w-75 ms-3 "
                                                                   href="{% url 'ProductsApp:products_by_category' child.url_title %}">{{ child.title }}</a>
                                                                <hr>
                                                            {% endfor %}

                                                        </div>
                                                    </div>

                                                </div>
                                            {% endfor %}
                                            <form id="brand-form" method="get" action="">
                                                <input id="brand" name="brand" value="" type="hidden">
                                            </form>

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion filters-container mt-3">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button py-2 px-3" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                    aria-expanded="true" aria-controls="collapseTwo">
                                                محدوده قیمت
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse show"
                                             aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <div class="col-12 py-1 px-4 mt-3">
                                                        <div id="steps-slider" dir="rtl"></div>
                                                    </div>
                                                    <div class="col-6 text-center encode4365gbf265g43d-range mt-3">
                                                        <div>از</div>
                                                        <div class="low-price-value"
                                                             id="encode4365gbf265g43d-range-from">0
                                                        </div>
                                                        <div>تومان</div>
                                                    </div>
                                                    <div class="col-6 text-center encode4365gbf265g43d-range mt-3">
                                                        <div>از</div>
                                                        <div class="high-price-value"
                                                             id="encode4365gbf265g43d-range-to">0
                                                        </div>
                                                        <div>تومان</div>
                                                    </div>
                                                    <div class="col-12 text-center py-2">
                                                        <form id="price-filter" method="get" action="">
                                                            <input type="hidden" id="low-price" name="low-price"
                                                                   value="0">
                                                            <input type="hidden" id="high-price" name="high-price"
                                                                   value="{{ most_expensive.final_price }}">
                                                            <button onclick="priceFilter()" class="btn btn-warning">
                                                                اعمال محدوده قیمت
                                                            </button>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- /Side Panel -->
                            </div>
                            <div class="col-12 col-lg-9 px-0 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                                <!-- Filters -->
                                <div id="order-filters">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-sm-10 my-1">
                                                <span class="d-block d-sm-inline-block">مرتب سازی بر اساس:</span>
                                                <a data-filter="available" onclick="orderBy('available')"
                                                   class="order-filter d-block d-sm-inline-block ">کالا های موجود</a>
                                                <a data-filter="newer" onclick="orderBy('newer')"
                                                   class="order-filter d-block d-sm-inline-block ">جدیدترین</a>
                                                <a data-filter="most-view" onclick="orderBy('most-view')"
                                                   class="order-filter d-block d-sm-inline-block">پربازدیدترین</a>
                                                <a data-filter="most-sale" onclick="orderBy('most-sale')"
                                                   class="order-filter d-block d-sm-inline-block">پرفروش‌ترین</a>
                                                <a data-filter="low-price" onclick="orderBy('low-price')"
                                                   class="order-filter d-block d-sm-inline-block">ارزان‌ترین</a>
                                                <a data-filter="high-price" onclick="orderBy('high-price')"
                                                   class="order-filter d-block d-sm-inline-block">گران‌ترین</a>
                                                <form id="order-form" method="get" action="">
                                                    <input id="order-type" name="order-by" value="" type="hidden">
                                                </form>

                                            </div>
                                            <div class="col-12 col-sm-2 pt-1 text-end">
                                                <span>{{ products.count }} کالا</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Filters -->
                                <div class="mt-2" id="pager">
                                    <div class="container">
                                        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-md-4">
                                            <!-- Products -->
                                            {% for product in products %}
                                                <div class="col {% if not product.is_active %}unavailable-product{% endif %}">
                                                    <!-- Product Box -->
                                                    <div class="encode4326654321vfb">
                                                        <a href="{% url 'ProductsApp:product_detail' product.id %}">
                                                            <div class="image table-hover"
                                                                 style="background-image: url('{{ product|product_main_image }}')"></div>
                                                        </a>
                                                        <div class="details p-3">
                                                            <div class="category">
                                                                {% for category in product.category.all %}
                                                                    <span>{{ category.title }}</span>
                                                                {% endfor %}


                                                            </div>
                                                            <a href="{% url 'ProductsApp:product_detail' product.id %}">
                                                                <h2>{{ product.title }}</h2></a>
                                                            {% if not product.is_active %}
                                                                <span>ناموجود</span>

                                                            {% else %}
                                                                <span class="pre-encode4365gbf265g43d text-decoration-line-through">{{ product.price|intcomma:False }}</span>
                                                                <span class="bg-danger m-auto d-inline-block px-1 rounded-2 text-light">{{ product.off_percent }}%</span>
                                                                <div class="fs-4 encode4365gbf265g43d">{{ product.final_price|intcomma:False }}<span
                                                                        class="fs-6">  تومان</span></div>
                                                            {% endif %}

                                                            <div class="rate">
                                                                <span class="encode43bf265g43d">({{ product.comment.count }} نظر)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /Product Box -->
                                                </div>

                                            {% empty %}
                                                <p class="alert alert-warning w-100">محصولی برای نمایش وجود
                                                    ندارد.</p>
                                            {% endfor %}

                                            <!-- /Products -->
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div id="pagination-bg">
                                                <ul class="pagination justify-content-center pagination-sm"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}k %}
{% block scripts %}{% endblock %}
{% block script %}
    <script>
        orderFilterStyle()
        sliderRange({{ most_expensive.final_price }})
    </script>
{% endblock %}