{% extends 'infinite shop/parent/parent.html' %}
{% load static %}
{% load thumbnail %}
{% load humanize %}
{% load product_tags %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/product-gallery.css' %}">
    <link rel="stylesheet" href="../cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css"/>
    <link rel="stylesheet" href="../cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css"/>
{% endblock %}
{% block title %}
    جزِِییات محصول
{% endblock %}
{% block content %}

    <section class="inner-page" id="product-page" data-id="{{ product.id }}">
        <div class="container-fluid" id="page-hero">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h1>{{ product.title }}</h1>
                                <p>{{ product.short_description }}</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'IndexApp:index' %}">صفحه نخست</a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="products.html">فروشگاه</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">{{ main_category }}</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-5 px-lg-0">
                                <div class="swiper-container gallery-top">
                                    <!-- Additional required wrapper -->
                                    <ul class="swiper-wrapper">
                                        <!-- Slides -->
                                        {% for img in product.product_images.all %}
                                            <li id="1" class="swiper-slide">
                                                <a href="{{ img.file.url }}" itemprop="contentUrl"
                                                   data-size="900x710">
                                                    <img {% if not product.is_active %}
                                                        class="unavailable-product"
                                                    {% endif %}  src="{{ img.image.url }}" itemprop="thumbnail"
                                                        alt="{{ img.image.url }}"/>
                                                </a>
                                            </li>
                                        {% endfor %}

                                        <!-- /Slides -->
                                    </ul>
                                    <!-- If we need navigation buttons -->
                                    <div title="قبلی" class="swiper-button-prev swiper-button-white"></div>
                                    <div title="بعدی" class="swiper-button-next swiper-button-white"></div>
                                </div>

                                <!-- Swiper -->
                                <div class="swiper-container gallery-thumbs">
                                    <div class="swiper-wrapper">
                                        {% for img in product.product_images.all %}
                                            <div class="swiper-slide"
                                                 style="background-image:url('{{ img.image.url }}')"></div>
                                        {% endfor %}


                                    </div>
                                </div>

                                <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="pswp__bg"></div>
                                    <div class="pswp__scroll-wrap">
                                        <div class="pswp__container">
                                            <div class="pswp__item"></div>
                                            <div class="pswp__item"></div>
                                            <div class="pswp__item"></div>
                                        </div>
                                        <div class="pswp__ui pswp__ui--hidden">
                                            <div class="pswp__top-bar">
                                                <div class="pswp__counter"></div>
                                                <button class="pswp__button pswp__button--close"
                                                        title="بستن (Esc)"></button>
                                                <button class="pswp__button pswp__button--fs"
                                                        title="تمام صفحه"></button>
                                                <button class="pswp__button pswp__button--zoom"
                                                        title="بزرگنمایی"></button>
                                                <div class="pswp__preloader">
                                                    <div class="pswp__preloader__icn">
                                                        <div class="pswp__preloader__cut">
                                                            <div class="pswp__preloader__donut"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="pswp__button pswp__button--arrow--left"
                                                    title="قبلی"></button>
                                            <button class="pswp__button pswp__button--arrow--right"
                                                    title="بعدی"></button>
                                            <div class="pswp__caption">
                                                <div class="pswp__caption__center"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-7 mt-5 mt-lg-0 pl-lg-0" id="product-intro">
                                <a href="#">
                                    <h1>{{ product.title }}</h1>
                                </a>
                                <div class="stars-container">
                                    {% with product.average_rate as rate %}
                                        <span>{{ rate }}</span>
                                        {% for i in blank_star %}
                                            <i class="bi bi-star"></i>
                                        {% endfor %}
                                        {% for i in star_range %}
                                            <i class="fa fa-star"></i>
                                        {% endfor %}
                                    {% endwith %}
                                    <a href="#product-nav-tabs"><span>(نقد و بررسی)</span></a>
                                </div>
                                {% if product.is_active %}
                                    <div class="encode4365gbf265g43d-container py-2">
                                        <span class="pre-encode4365gbf265g43d">{{ product.price|intcomma:False }}</span>
                                        <span class="encode4365gbf265g43d">{{ product.final_price|intcomma:False }} <span>تومان</span></span>
                                        <div class="bg-danger m-auto d-inline-block px-1 rounded-2 text-light">{{ product.off_percent }}%</div>
                                    </div>
                                {% else %}
                                    <span class="alert alert-danger p-1 m-5">ناموجود</span>
                                {% endif %}

                                <p>{{ product.long_description|linebreaks }}</p>
                                <div>
                                    <span>برند :</span>
                                    <span>{{ product.brand.title }}</span>
                                    <img src="{{ product.brand.brand_image.url }}" alt="{{ product.brand.title }}">
                                </div>

                                <hr>
                                <div class="variables">
                                    <div class="title">گزینه های موجود:</div>
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <div class="variable">
                                                <div class="sub-title pt-2 pb-3">رنگ</div>
                                                {% for color in product.product_color.all %}
                                                    <span class="color-variable rounded-circle border-2{% if forloop.counter == 1 %} border-danger {% endif %}"
                                                          data-color="{{ color.color }}"><a
                                                            class="rounded-circle"
                                                            onclick="colorStock({{ product.id }})"
                                                            title="{{ color.title }}"
                                                            style="background-color: {{ color.color }}"></a></span>
                                                    {% if forloop.counter|divisibleby:4 %}
                                                        <br><br>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div class="col-3 col-sm-4 col-lg-3">
                                            <div class="variable">
                                                <div class="sub-title pt-2 pb-2">تعداد</div>
                                                <input oninput="enforceMinMax(this)" id="product-count" type="number" min="1"
                                                       max="{{ product_color.stock }}" class="form-control" value="1">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <span class="border-2 border p-2">موجودی محصول : {{ product.stock }}</span>
                                <span class="border-2 border p-2">موجودی رنگ <span
                                        class="black-border fw-bolder" id="color-title"
                                        style="color: {{ product_color.color }}">{{ product_color.title }}</span> : <span
                                        id="color-stock">{{ product_color.stock }}</span></span>
                                <div class="cta-container pt-3 pt-md-5">
                                    <div class="row">
                                        <div class="col-12">
                                            <input id="color-id-input" type="hidden">
                                            <button onclick="addProductToCart({{ product.id }})"
                                                    class="{% if not product.is_active %}unavailable-product-link{% endif %} btn btn-success px-4 px-lg-2 px-xl-4 btn-add-to-basket">
                                                <i
                                                        class="fa fa-shopping-cart"></i> افزودن به سبد خرید
                                            </button>

                                            <br class="d-sm-none">
                                            {% if request.user.is_authenticated %}
                                                <a id="like" onclick="addProductToFavorite({{ product.id }})"
                                               class="btn bi bi-heart{% if user_favorited %}-fill{% endif %}  mt-1 mt-sm-0"
                                               style="color: red"
                                               data-toggle="tooltip" data-placement="top"
                                               title="افزودن به علاقه‌مندی"></a>

                                            {% endif %}

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Nav Tabs -->
                            <div class="col-12">
                                <div id="product-nav-tabs">
                                    <div class="row pt-3 px-md-3">
                                        <div class="col-12">
                                            <div id="tabs-panel">
                                                <button class="tab-item tablink px-3 selected" id="comment-start"
                                                        onclick="openTab(event,'html-tab')">نقد و بررسی
                                                </button>
                                                <button class="tab-item tablink px-3"
                                                        onclick="openTab(event,'details-tab')">جدول مشخصات
                                                </button>
                                                <button class="tab-item tablink px-3"
                                                        onclick="openTab(event,'comments-tab')">نظر کاربران
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 pt-2 px-0 px-lg-0">
                                                <!-- HTML Tab -->
                                                <div id="html-tab" class="tabs-container text-justify p-0 p-md-3">
                                                    <p>{{ product.main_description|linebreaks }}</p>
                                                </div>
                                                <!-- /HTML Tab -->

                                                <!-- Details Tab -->
                                                <div id="details-tab" class="tabs-container px-0 px-md-3 pb-0 pb-md-3"
                                                     style="display:none">
                                                    <div class="row mb-2">
                                                        {% for property in product_properties %}
                                                            <div class="col-12 col-md-3 font-weight-bold">
                                                                <div class="bg-light p-2">{{ property.title }}</div>
                                                            </div>
                                                            <div class="col-12 col-md-9 pr-md-0">
                                                                <div class="bg-light p-2">{{ property.value }}</div>
                                                            </div>
                                                        {% empty %}

                                                        {% endfor %}


                                                    </div>
                                                </div>
                                                <!-- /Details Tab -->

                                                <!-- Comments Tab -->
                                                <div id="comments-tab" class="tabs-container px-0 px-md-3 pb-0 pb-md-2"
                                                     style="display:none">
                                                    <div class="row">
                                                        <div class="col-12 text-justify">
                                                            <div class="comments-container">
                                                                <div class="container px-0">
                                                                    <div class="row">
                                                                        <div class="col-12 pt-2">
                                                                            <!-- Show Comments -->
                                                                            <div class="comment p-3 my-2"
                                                                                 id="comments-cont">
                                                                                <h4 class="mb-4">
                                                                                    ({{ product_all_comments.count }})نظر</h4>
                                                                                {% for comment in product_comments %}
                                                                                    <div id="comment-box{{ comment.id }}"
                                                                                         class="sender-details"
                                                                                         data-id="{{ comment.id }}">
                                                                                        <div class="row">
                                                                                            <div class="col-3 col-sm-2 col-md-1 pl-md-0 pl-lg-2 pl-xl-3">

                                                                                                {% if comment.user.profile_image %}
                                                                                                    {% thumbnail comment.user.profile_image '63x63' crop='center' as im %}
                                                                                                        <img src="{{ im.url }}"
                                                                                                             alt="{{ im.title }}">
                                                                                                    {% endthumbnail %}
                                                                                                {% else %}
                                                                                                    <img src="{% static 'images/user-no-image.jpg' %}"
                                                                                                         alt="no-profile">
                                                                                                {% endif %}

                                                                                            </div>
                                                                                            <div class="col-9 col-sm-10 col-md-11 pr-0 pr-md-2 pr-xl-0 pt-0 pt-lg-1">
                                                                                                <div class="name">
                                                                                                    {{ comment.user }}
                                                                                                </div>
                                                                                                <div class="date">ارسال
                                                                                                    شده
                                                                                                    در {{ comment.created_at }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-12">
                                                                                                <p>{{ comment.comment }}</p>
                                                                                                <span class="reply send-reply"
                                                                                                      onclick="setParentId({{ comment.id }})"><img
                                                                                                        src="{% static 'images/comment-reply.png' %}"
                                                                                                        alt=""> ارسال پاسخ</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    {% for reply in comment.children.all %}
                                                                                        <div id="comment-box{{ reply.id }}"
                                                                                             class="row justify-content-end">
                                                                                            <div class="col-11 pt-2 pr-0">
                                                                                                <div class="comment p-3">
                                                                                                    <div class="sender-details">
                                                                                                        <div class="row">
                                                                                                            <div class="col-3 col-sm-2 col-md-1 pl-md-0 pl-lg-2 pl-xl-3">
                                                                                                                {% if reply.user.profile_image %}
                                                                                                                    {% thumbnail reply.user.profile_image '63x63' crop='center' as im %}
                                                                                                                        <img src="{{ im.url }}"
                                                                                                                             alt="{{ im.title }}">
                                                                                                                    {% endthumbnail %}
                                                                                                                {% else %}
                                                                                                                    <img src="{% static 'images/user-no-image.jpg' %}"
                                                                                                                         alt="no-profile">
                                                                                                                {% endif %}
                                                                                                            </div>
                                                                                                            <div class="col-9 col-sm-10 col-md-11 pr-0 pr-md-2 pr-xl-0 pt-0 pt-lg-1">
                                                                                                                <div class="name">
                                                                                                                    {{ reply.user }}
                                                                                                                </div>
                                                                                                                <div class="date">
                                                                                                                    ارسال
                                                                                                                    شده
                                                                                                                    در
                                                                                                                    {{ reply.created_at }}
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="col-12">
                                                                                                                <p>{{ reply.comment }}</p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    {% endfor %}
                                                                                {% empty %}
                                                                                    <h5>اولین نفری باشید که نظر خود
                                                                                        را ارسال میکند.</h5>
                                                                                {% endfor %}
                                                                            </div>
                                                                            <!-- /Show Comments -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Send Comment Form -->
                                                            <div class="comments-container">
                                                                <div class="row pt-4" id="for-view">
                                                                    <div class="col-12"><h2>نظر خود را ارسال
                                                                        کنید</h2></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12 py-3">
                                                                        <form method="post"
                                                                              action="">
                                                                            <div id="send-comment-form">
                                                                                <p>نظر خود را برای این محصول ارسال کنید.
                                                                                </p>
                                                                                <input type="hidden" value=""
                                                                                       id="parent-id">
                                                                                <div class="row">

                                                                                    <div class="col-12">
                                                                                        <div class="form-group my-1">
                                                                                            <textarea
                                                                                                    class="form-control"
                                                                                                    style="height: 250px"
                                                                                                    id="comment-text"
                                                                                                    rows="4"
                                                                                                    placeholder="متن نظر"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12">
                                                                                        <div class="form-group my-1">
                                                                                            <input type="submit"
                                                                                                   onclick="addComment({{ product.id }})"
                                                                                                   id="comment-submit"
                                                                                                   value="ارسال نظر"
                                                                                                   class="btn btn-success px-5">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /Send Comment Form -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Comments Tab -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Nav Tabs -->

                        <!-- Suggested Products -->
                        <div class="col-12 pt-5" id="suggested-products">
                            <div class="title py-3 text-center">محصولات مرتبط</div>
                            <div class="owl-carousel products-carousel">
                                <!-- Product Item -->
                                {% for product in related_products %}

                                    <div class="encode4326654321vfb item">
                                        <!-- Product Box -->
                                        <div class="encode4326654321vfb">
                                            <a href="{% url 'ProductsApp:product_detail' product.id %}">
                                                <div class="image table-hover"
                                                     style="background-image: url('{{ product|product_main_image }}')"></div>
                                            </a>
                                            <div class="details p-3">
                                                <div class="category">
                                                    {% for category in product.category.all %}
                                                        <span>{{ category.title }}</span>
                                                    {% endfor %}


                                                </div>
                                                <a href="{% url 'ProductsApp:product_detail' product.id %}">
                                                    <h2>{{ product.title }}</h2></a>
                                                <span class="pre-encode4365gbf265g43d text-decoration-line-through">{{ product.price|intcomma:False }}</span>
                                                <span class="bg-danger m-auto d-inline-block px-1 rounded-2 text-light">{{ product.off_percent }}%</span>
                                                <div class="fs-4 encode4365gbf265g43d">{{ product.final_price|intcomma:False }}<span
                                                        class="fs-6">  تومان</span></div>
                                                <div class="rate">
                                                    <span class="encode43bf265g43d">({{ product.comment.count }} نظر)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Product Box -->
                                    </div>
                                {% endfor %}


                                <!-- /Product Item -->

                            </div>
                            {% if not related_products.exists %}
                                <p class="alert alert-warning">محصول مرتبطی موجود نیست.</p>
                            {% endif %}
                        </div>
                        <!-- /Suggested Products -->
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/nav-tabs.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="../cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
    <script src="../cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>
    <script src="{% static 'js/product-gallery.js' %}"></script>
{% endblock %}
{% block script %}

{% endblock %}