{% extends 'infinite shop/parent/parent.html' %}

{% load static %}
{% load thumbnail %}
{% block title %}
    پروفایل
{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
    <section class="inner-page" id="profile-page">
        <div class="container-fluid" id="page-hero">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h1>پروفایل</h1>
                                <p>به بخش پروفایل اینفینیت شاپ خوش آمدید.</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'IndexApp:index' %}">صفحه نخست</a></li>
                                        <li class="breadcrumb-item">پروفایل</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-3">
                                <!-- Side Panel -->
                                <div class="accordion" id="side-panel">
                                    <div class="accordion-item menu-container">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button bg-light" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                                    aria-controls="panelsStayOpen-collapseOne">
                                            <span class="row">
                                                <span class="col-3 col-sm-2 col-lg-3">
                                                    {% thumbnail user.profile_image "32x32" crop="center" as im %}
                                                        <img width="32px" height="32px" src="{{ im.url }}"
                                                             alt="{{ user.full_name }}"
                                                             class="rounded-circle">
                                                    {% endthumbnail %}
                                                </span>
                                                <span class="col-7 col-sm-8 col-lg-7 pt-0 pt-sm-2 pt-md-3 pt-lg-0 align-self-center">
                                                    <div id="full-name">{{ user.full_name }}</div>
                                                    <div class="mt-2" id="email-mobile">{{ user.phone }}</div>
                                                </span>
                                            </span>
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                             aria-labelledby="panelsStayOpen-headingOne">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>
                                                        <a href="{% url 'UserApp:profile' %}" class="profile-tab">
                                                            <div>
                                                                <div class="icon d-inline-block"><img
                                                                        src="{% static 'images/icons/profile-menu/profile.webp' %}"
                                                                        class="pl-2"></div>
                                                                اطلاعات
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'UserApp:factors' %}" class="profile-tab">
                                                            <div>
                                                                <div class="icon d-inline-block"><img
                                                                        src="{% static 'images/icons/profile-menu/orders.webp' %}"
                                                                        class="pl-2"></div>
                                                                لیست سفارش ها
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'UserApp:favorite_products' %}"
                                                           class="profile-tab">
                                                            <div>
                                                                <div class="icon d-inline-block"><img
                                                                        src="{% static 'images/icons/profile-menu/favorites.webp' %}"
                                                                        class="pl-2"></div>
                                                                محصولات موردعلاقه
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'UserApp:addresses' %}" class="profile-tab">
                                                            <div>
                                                                <div class="icon d-inline-block"><img
                                                                        src="{% static 'images/icons/profile-menu/addresses.webp' %}"
                                                                        class="pl-2"></div>
                                                                آدرس ها
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <hr>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'UserApp:logout' %}">
                                                            <div>
                                                                <div class="icon d-inline-block"><img
                                                                        src="{% static 'images/icons/profile-menu/exit.webp' %}"
                                                                        class="pl-2"></div>
                                                                خروج
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Side Panel -->
                            </div>
                            <div class="col-12 col-lg-9 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                                {% block profile_content %}

                                {% endblock %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block scripts %}

{% endblock %}
{% block script %}

{% endblock %}