{% for field in form %}
    <div class="col-12 col-md-{% if field.name == 'address' %}8{% else %}4{% endif %} pl-2">
        <div class="form-group m-1">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <small class="form-text text-danger">{{ field.errors }}</small>
            {% endif %}
        </div>
    </div>
{% endfor %}
<input id="address-id" name="address_id" value="" type="hidden">
<div class="col-12">
    <div class="form-group m-1 pb-3">
        <button id="submit-button" name="submit-type" value="add" type="submit"
                onclick="addAddress()" class="login-button px-1">ثبت
        </button>
    </div>
</div>