{% for product in products %}
    <div class="col">
        <!-- Product Box -->
        <div class="encode4326654321vfb">
            <a href="{% url 'ProductsApp:product_detail' product.id %}">
                <div class="image table-hover"
                     style="background-image: url('{{ product|product_main_image }}')"></div>
            </a>
            <div class="details p-3">
                <div class="category">
                    {% for category in product.category.all %}
                        <span>{{ category.title }}</span>
                    {% endfor %}


                </div>
                <a href="{% url 'ProductsApp:product_detail' product.id %}">
                    <h2>{{ product.title }}</h2></a>
                <span class="pre-encode4365gbf265g43d text-decoration-line-through">{{ product.price|intcomma:False }}</span>
                <span class="bg-danger m-auto d-inline-block px-1 rounded-2 text-light">{{ product.off_percent }}%</span>
                <div class="fs-4 encode4365gbf265g43d">{{ product.final_price|intcomma:False }}<span
                        class="fs-6">  تومان</span></div>
                <div class="rate">
                    <span class="encode43bf265g43d">({{ product.comment.count }} نظر)</span>
                </div>
            </div>
        </div>
        <!-- /Product Box -->
    </div>

{% empty %}

{% endfor %}