{% load static %}
<section class="pt-4 pb-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">دسترسی سریع</div>
                <ul>
                    <li><a href="blog.html">بلاگ آموزشی</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <hr class="d-lg-none">
                <img src="{{ site_info.logo.url }}" alt=""> {{ site_info.title }}
                <p>{{ site_info.short_description }}</p>
                <div class="row">
                    <div class="col-12 col-md-6 text-center p-2" id="encode43vfbb65gtabfb">
                        <div>7 روز هفته، 24 ساعت شبانه روز</div>
                        <div>پاسخگوی شما هستیم</div>
                        <div>{{ site_info.phone }}</div>
                    </div>
                    <div class="col-12 col-md-6 pt-2 pt-md-0" id="encode43vfbbbfb">
                        <div class="row">
                            <div class="col-4 text-center">
                                <a href="#"><img src="assets/images/encode43vfbbbfb/enamad.html" alt=""></a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#"><img src="assets/images/encode43vfbbbfb/samandehi.html" alt=""></a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#"><img src="assets/images/encode43vfbbbfb/etehadiye.html" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-2" id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6" id="social-links">
                <span>ما را دنبال کنید</span>
                <a href="#"><img src="{% static 'images/social/insta.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/social/facebook.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/social/linkedin.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/social/twitter.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/social/youtube.png' %}" alt=""></a>
            </div>
            <div class="col-12 col-sm-6 text-sm-end pt-2 pt-sm-0">
                <span>کلیه حقوق و مادی معنوی محفوط است.</span>
            </div>
        </div>
    </div>
</section>