{% load static %}
<section class="pt-4 pb-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">دسترسی کاربر</div>
                <ul>
                    {% if not request.user.is_authenticated %}
                        <li><a href="{% url 'UserApp:login' %}">ورود</a></li>
                        <li><a href="{% url 'UserApp:register' %}">ثبت نام</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'UserApp:profile' %}">پروفایل</a></li>
                    {% endif %}
                    <li><a href="{% url 'UserApp:factors' %}">لیست سفارش ها</a></li>
                    <li><a href="{% url 'UserApp:favorite_products' %}">محصولات مورد علاقه</a></li>
                    <li><a href="{% url 'UserApp:addresses' %}">آدرس ها</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'UserApp:logout' %}">خروج</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">دسته بندی محصولات</div>
                <ul>
                    {% for main_category in main_categories %}
                        <li><a href="{% url 'ProductsApp:products_by_category' main_category.title %}">{{ main_category.title }}</a></li>
                    {% endfor %}
                    
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">دسترسی سریع</div>
                <ul>
                    <li ><a href="{% url 'CartApp:cart' %}">سبد خرید</a></li>
                    <li><a href="{% url 'IndexApp:about_us' %}">درباره ما</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <hr class="d-lg-none">
                <img src="{{ site_info.logo.url }}" alt=""> {{ site_info.title }}
                <p>{{ site_info.short_description }}</p>
                <div class="row">
                    <div class="col-12 col-md-6 text-center p-2" id="encode43vfbb65gtabfb">
                        <div>7 روز هفته، 24 ساعت شبانه روز</div>
                        <div>پاسخگوی شما هستیم</div>
                        <div>{{ site_info.phone }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-2" id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6" id="social-links">
                <span>ما را دنبال کنید</span>
                <a href="#"><img src="{% static 'images/social/insta.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/social/facebook.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/social/linkedin.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/social/twitter.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/social/youtube.png' %}" alt=""></a>
            </div>
            <div class="col-12 col-sm-6 text-sm-end pt-2 pt-sm-0">
                <span>کلیه حقوق و مادی معنوی محفوط است.</span>
            </div>
        </div>
    </div>
</section>