{% load static %}
<section id="header">
    <!-- Top NavBar -->
    <div id="encode4325436">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 text-center text-md-end" id="top-encode43vfbb65gtabfb">
                    <span> شماره تماس: {{ site_info.phone }}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- /Top NavBar -->
    <!-- Search NavBar -->
    <div id="encode43254bvfb">
        <div class="container pt-1">
            <div class="row py-3 align-content-center">
                <div class="col-12 col-md-3 col-xl-2 text-center text-md-start pb-2" id="encode4326523bvfb">
                    <a href="{% url 'IndexApp:index' %}">
                        <img src="{{ site_info.logo.url }}" alt="">
                        <span>{{ site_info.title }}</span>
                    </a>
                </div>
                <div class="col-12 col-md-5 col-xl-6">
                    <div id="search-bar">
                        <i class="fa fa-search"></i>
                        <label>
                            <input type="text" placeholder="جستجو کنید...">
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="row">
                        <div class="d-flex col-12 col-md-7 col-lg-6  text-center" id="btn-login-register">
                            {% if request.user.is_authenticated %}
                                <a class="login-button justify-content-sm-start" href="{% url 'UserApp:profile' %}">پروفایل</a>
                            {% else %}
                                <a class="login-button justify-content-sm-start"
                                   href="{% url 'UserApp:login' %}">ورود</a>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-5 col-lg-6">
                            <a href="{% url 'CartApp:cart' %}">
                                <div class="btn btn-warning w-100"><i class="fa fa-shopping-cart"></i>&nbsp;<span
                                        class="d-md-none d-lg-inline-block">سبد خرید</span>( <span id="cart-count">{{ cart.count }}</span> ) 
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Search NavBar -->
    <!-- Main NavBar -->
    <div id="main-nav">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="droopmenu-navbar dmarrow-down droopmenu-horizontal dmpos-top dmfade">
                        <div class="droopmenu-inner">
                            <div class="droopmenu-header">
                                <a href="#" class="droopmenu-toggle"><i class="dm-burg"></i></a>
                                <span class="d-md-none">منوی فروشگاه</span>
                            </div>
                            <!-- Header Mega Menu-->
                            <div class="droopmenu-nav">
                                <div class="droopmenu-nav-wrap">
                                    <div class="droopmenu-navi">
                                        <ul class="droopmenu">
                                            <li>
                                                <a class="header-tabs" href="{% url 'IndexApp:index' %}">صفحه نخست</a>
                                            </li>
                                            <li>
                                                <a class="header-tabs" href="{% url 'ProductsApp:product_list' %}">محصولات</a>
                                            </li>
                                            <li>
                                                <a class="header-tabs" href="{% url 'IndexApp:about_us' %}">درباره
                                                    ما</a>
                                            </li>
                                            {% if request.user.is_superuser %}
                                                <li>
                                                    <a target="_blank" class="header-tabs" href="/admin">پنل ادمین</a>
                                                </li>
                                            {% endif %}


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /Header Menu Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main NavBar -->
</section>