{% extends 'infinite shop/parent/parent.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
    پروفایل
{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
    <section class="inner-page" id="profile-page">
        <div class="container-fluid" id="page-hero">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h1>پروفایل</h1>
                                <p>به بخش پروفایل اینفینیت شاپ خوش آمدید.</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="../index.html">صفحه نخست</a></li>
                                        <li class="breadcrumb-item"><a href="#">پروفایل</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">ویرایش پروفایل</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-3">
                                <!-- Side Panel -->
                                <div class="accordion" id="side-panel">
                                    <div class="accordion-item menu-container">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button bg-light" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                                    aria-controls="panelsStayOpen-collapseOne">
                                            <span class="row">
                                                <span class="col-3 col-sm-2 col-lg-3">
                                                    {% thumbnail user.profile_image "32x32" crop="center" as im %}
                                                        <img width="32px" height="32px" src="{{ im.url }}"
                                                             alt="{{ user.full_name }}"
                                                             class="rounded-circle">
                                                    {% endthumbnail %}
                                                </span>
                                                <span class="col-7 col-sm-8 col-lg-7 pt-0 pt-sm-2 pt-md-3 pt-lg-0 align-self-center">
                                                    <div id="full-name">{{ user.full_name }}</div>
                                                    <div class="mt-2" id="email-mobile">{{ user.phone }}</div>
                                                </span>
                                            </span>
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                             aria-labelledby="panelsStayOpen-headingOne">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>
                                                        <a href="{% url 'UserApp:profile' %}" class="active">
                                                            <div>
                                                                <div class="icon d-inline-block"><img
                                                                        src="{% static 'images/icons/profile-menu/profile.webp' %}"
                                                                        class="pl-2"></div>
                                                                اطلاعات
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="factors.html">
                                                            <div>
                                                                <div class="icon d-inline-block"><img
                                                                        src="{% static 'images/icons/profile-menu/orders.webp' %}"
                                                                        class="pl-2"></div>
                                                                لیست سفارش ها
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="favorites.html">
                                                            <div>
                                                                <div class="icon d-inline-block"><img
                                                                        src="{% static 'images/icons/profile-menu/favorites.webp' %}"
                                                                        class="pl-2"></div>
                                                                محصولات موردعلاقه
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="addresses.html">
                                                            <div>
                                                                <div class="icon d-inline-block"><img
                                                                        src="{% static 'images/icons/profile-menu/addresses.webp' %}"
                                                                        class="pl-2"></div>
                                                                آدرس ها
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <hr>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'UserApp:logout' %}">
                                                            <div>
                                                                <div class="icon d-inline-block"><img
                                                                        src="{% static 'images/icons/profile-menu/exit.webp' %}"
                                                                        class="pl-2"></div>
                                                                خروج
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Side Panel -->
                            </div>
                            <div class="col-12 col-lg-9 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                                <!-- Profile Fields -->
                                <div class="custom-container bg-light" id="profile-fields">
                                    <div class="row pt-2 px-3 ">
                                        <div class="col-12"><h1>اطلاعات شخصی</h1></div>
                                    </div>
                                    <hr>
                                    <div class="container">
                                        <div class="row">
                                            <form class="d-flex flex-row flex-wrap" action="" method="post">
                                                {% csrf_token %}
                                                {% for field in profile_form %}
                                                    <div class="col-12 col-sm-6 profile-field py-2 w-50">
                                                        <div class="row">
                                                            <div class="col-10">
                                                                {{ field.label_tag }}
                                                                {{ field }}
                                                                {% if field.errors %}
                                                                    <small class="form-text text-danger">{{ field.errors }}</small>
                                                                {% endif %}
                                                            </div>

                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                <button type="submit" name="form_name" value="profile_form" class="login-button m-3">
                                                    ثبت
                                                </button>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <div class="custom-container bg-light" id="profile-fields">
                                    <div class="row pt-2 px-3 ">
                                        <div class="col-12"><h1>تغییر رمز عبور</h1></div>
                                    </div>
                                    <hr>
                                    <div class="container">
                                        <div class="row">
                                            <form class="d-flex flex-row flex-wrap" action="" method="post">
                                                {% csrf_token %}
                                                {% for field in password_form %}
                                                    <div class="col-12 col-sm-6 profile-field py-2 w-50">
                                                        <div class="row">
                                                            <div class="col-10">
                                                                {{ field.label_tag }}
                                                                {{ field }}
                                                                {% if field.errors %}
                                                                    <small class="form-text text-danger">{{ field.errors }}</small>
                                                                {% endif %}
                                                            </div>

                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                <button type="submit" name="form_name" value="password_form" class="login-button m-3">
                                                    ثبت
                                                </button>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <!-- /Profile Fields -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}

{% endblock %}
{% block script %}

{% endblock %}