{% extends 'infinite shop/parent/parent.html' %}
{% load static %}
{% block title %}بازیابی رمز عبور{% endblock %}

{% block content %}
    <section class="inner-page" id="contact-page">
        <div class="container-fluid" id="page-hero">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h1>بازیابی رمز عبور</h1>
                                <p>رمز عبور خود را بازیابی کنید.</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'IndexApp:index' %}">صفحه نخست</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">بازیابی رمز عبور</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2 py-md-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-5 text-center">
                                <img src="{% static 'images/reset-password.png' %}" alt="">
                            </div>
                            <div class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
                                {% if validlink %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="new_password1">رمز عبور جدید</label>
                                            <input type="password" class="form-control" name="new_password1"
                                                   id="new_password1"
                                            >
                                        </div>
                                        <div class="form-group">
                                            <label for="new_password2">تایید رمز عبور جدید</label>
                                            <input type="password" class="form-control" name="new_password2"
                                                   id="new_password2"
                                            >
                                        </div>
                                        {% if form.errors %}
                                            {% for field in form %}
                                                <span class="form-text text-danger m-5">{{ field.errors }}</span>
                                            {% endfor %}
                                        {% endif %}


                                        <button type="submit" class="btn btn-primary">بازیابی رمز عبور</button>
                                    </form>
                                {% else %}
                                    <div class="alert alert-danger" role="alert">
                                    <h4 class="alert-heading">لینک نامعتبر</h4>
                                    <p>لینک بازیابی رمز عبور معتبر نیست لطفا مجددا امتحان کنید.</p>
                                    <a class="bg-light px-2" href="{% url 'UserApp:password_reset' %}">بازیابی رمز
                                        عبور</a>
                                {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}