{% extends 'infinite shop/parent/parent.html' %}
{% load static %}
{% block title %}
    بازیابی رمز عبور
{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
    <section class="inner-page" id="contact-page">
        <div class="container-fluid" id="page-hero">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h1>بازیابی رمز عبور</h1>
                                <p>رمز عبور خود را بازیابی کنید.</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'IndexApp:index' %}">صفحه نخست</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">بازیابی رمز عبور</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2 py-md-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-5 text-center">
                                <img src="{% static 'images/reset-password.png' %}" alt="">
                            </div>
                            <div class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">

                               <p class="bg-success text-white rounded d-inline-block fs-5 p-3" >لینک بازیابی رمز عبور شما با موفقیت ارسال شد.لطفا ایمیل خود را بررسی کنید.</p>
                                <a href="{% url 'IndexApp:index' %}">صفحه نخست</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}

{% endblock %}
{% block script %}

{% endblock %}