{% extends 'infinite shop/parent/parent.html' %}
{% load static %}
{% block title %}
    ثبت نام
{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
    <section class="inner-page" id="contact-page">
        <div class="container-fluid" id="page-hero">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h1>ورود به ناحیه کاربری</h1>
                                <p>وارد ناحیه کاربری خود در روبیک مارکت شوید.</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'IndexApp:index' %}">صفحه نخست</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">ثبت نام</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2 py-md-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-5 text-center">
                                <img src="{% static 'images/login.png' %}" alt="">
                            </div>
                            <div class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
                                <div class="title">ثبت نام کنید</div>
                                <p>با عضویت در سایت از همه امکانات سایت بهره مند شوید.</p>
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        {{ field.label_tag  }}
                                        {{ field }}
                                        {% if field.errors %}
                                            <small style="color: red">{{ field.errors }}</small>
                                        {% endif %}
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary mt-2">ثبت نام</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}

{% endblock %}
{% block script %}

{% endblock %}